* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #ffff;
}

::-webkit-scrollbar-thumb {
  background: #1e40af;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.toast-container .ngx-toastr {
  font-size: 1.4rem !important;
}
