.header {
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 1rem 1.5rem;
  h1 {
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  .button-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .balance {
      background-color: green;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-weight: 600;
    }

    .owner-name {
      background-color: #1e40af;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      color: #fff;
      font-weight: 600;
      &:hover {
        background-color: #0033a1;
      }
    }

    > span {
      font-size: 1.6rem;
      font-weight: 600;
      text-align: center;
    }

    button {
      border: none;
      outline: none;
      background-color: #ef4444;
      color: #fff;
      font-size: 1.4rem;
      padding: 0.8rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      i {
        font-size: 1.2rem;
      }

      &:hover {
        background-color: #b91c1c;
      }
    }
  }
}

// @keyframes pulse {
//   0% {
//     transform: scale(1);
//     opacity: 1;
//   }
//   50% {
//     transform: scale(1.3);
//     opacity: 0.7;
//   }
//   100% {
//     transform: scale(1);
//     opacity: 1;
//   }
// }
