<div class="header" *ngIf="user$ | async as user">
  <h1>Slytherin Bank</h1>

  <div class="button-container">
    <!-- Notification Icon -->
    <!-- <div class="notification">
      <div (click)="toggleNotification()">
        <i class="fas fa-bell"></i>
        <span class="badge" *ngIf="unreadCount$ | async as count" [hidden]="count === 0">
          {{ count }}
        </span>
      </div>

      <div class="notification-dropdown" [class.show-notification]="isNotification">
        <div class="dropdown-header">
          <label class="custom-checkbox">
            <input type="checkbox" (change)="toggleSelectAllNotifications($event)" />
            <span class="checkmark"></span>
            <button
              class="clear-btn"
              *ngIf="selectedNotifications.size > 0"
              (click)="clearNotifications()"
            >
              {{ `Delete (${selectedNotifications.size})` }}
            </button>
          </label>
          <span>Notifications</span>
        </div>

        <div class="dropdown-list">
          <div
            class="notification-item"
            [class.unread]="!notif.read"
            *ngFor="let notif of notifications$ | async"
          >
            <label class="custom-checkbox">
              <input
                type="checkbox"
                [checked]="selectedNotifications.has(notif._id)"
                (change)="onCheckboxChange(notif._id, $event)"
              />
              <span class="checkmark"></span>
            </label>
            <div class="content" (click)="markAsRead(notif)">
              <p class="message">{{ notif.message }}</p>
              <span class="time">{{ notif.createdAt | formattedDate }}</span>
            </div>
            <i class="fas fa-trash delete-icon" (click)="deleteNotification(notif._id, $event)"></i>
          </div>
          <div class="no-notifications" *ngIf="(notifications$ | async)?.length === 0">
            No notifications
          </div>
        </div>
      </div>
    </div> -->

    <app-notification></app-notification>
    <!-- Balance -->
    <span class="balance"> Balance: {{ user.balance | rupeeFormat}} </span>

    <!-- Username -->
    <span class="owner-name">{{ user.username }}</span>

    <!-- Logout -->
    <button (click)="logout()">
      <i class="fas fa-arrow-right-from-bracket"></i>
      <span>Logout</span>
    </button>
  </div>
</div>
