<div class="create-form-container">
  <form class="create-form" (ngSubmit)="handleCreateUser(createUser)" #createUser="ngForm">
    <div class="admin-header">
      <h1 *ngIf="currentUser === 'OWNER'">Admin Management</h1>
      <h1 *ngIf="currentUser === 'ADMIN'">User Management</h1>
      <p class="sub-header" *ngIf="currentUser==='OWNER'">Create and manage users with admin-level permissions</p>
      <p class="sub-header" *ngIf="currentUser==='ADMIN'">Create and manage users with user-level permissions</p>
    </div>
    <div class="form-control">
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
        #usernameRef="ngModel"
        required
      />

      <!-- Error -->
      <small class="error" *ngIf="usernameRef.invalid && usernameRef.touched">
        Username is required
      </small>
    </div>
    <div class="form-control password-field">
      <div class="input-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          #passwordRef="ngModel"
          required
        />

        <i
          class="fa"
          [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="togglePasswordVisibility()"
        ></i>
      </div>

      <small class="error" *ngIf="passwordRef.invalid && passwordRef.touched">
        Password is required
      </small>
    </div>
    <button type="submit" [disabled]="(isLoading$ | async)!" class="login-btn">
      <ng-container *ngIf="!(isLoading$ | async); else loading"> Create User </ng-container>
      <ng-template #loading> <i class="fas fa-spinner fa-spin"></i> Please wait... </ng-template>
    </button>
  </form>
</div>
