<div class="pagination" *ngIf="pagination">
  <button [disabled]="pagination.currentPage === 1" (click)="first()">
    <i class="fas fa-angles-left"></i>
  </button>

  <button [disabled]="pagination.currentPage === 1" (click)="prev()">
    <i class="fas fa-chevron-left"></i>
  </button>

  <ng-container *ngFor="let page of pages">
    <button
      *ngIf="page !== '...'; else dots"
      [class.active]="page === pagination.currentPage"
      (click)="changePage(page)"
    >
      {{ page }}
    </button>

    <ng-template #dots>
      <span class="dots">...</span>
    </ng-template>
  </ng-container>

  <button [disabled]="pagination.currentPage === pagination.totalPages" (click)="next()">
    <i class="fas fa-chevron-right"></i>
  </button>
  <button [disabled]="pagination.currentPage === pagination.totalPages" (click)="last()">
    <i class="fas fa-angles-right"></i>
  </button>
</div>

